* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style-type: none;
  background: #ffffff;
}

.header {
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
}
.header .container {
  display: flex;
  margin-top: 24px;
  padding: 0 101px;
}
.header .container .header__categories ul {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.header .container .header__categories ul li {
  width: 97px;
  height: 51px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.header .container .header__categories ul li:hover {
  color: #5ece7b;
  transition: 0.1s;
}
.header .container .header__categories ul .category__active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
  font-weight: 600;
  width: 97px;
}
.header .container .header__categories ul .category__active:hover {
  color: #5ece7b;
}
.header .container .header__categories ul .category__inactive {
  width: 69px;
}
.header .container .header__logo {
  margin: 0 auto;
  position: relative;
  right: 77px;
  bottom: 4px;
  cursor: pointer;
}
.header .container .header-right-group {
  display: flex;
  width: 80px;
  position: relative;
  top: 4px;
  left: 11px;
}
.header .container .header-right-group .header__currency {
  cursor: pointer;
}
.header .container .header-right-group .header__currency .currency {
  display: flex;
  font-style: normal;
  font-size: 18px;
}
.header .container .header-right-group .header__currency .currency .arrow {
  margin: 6px 20px 0 10px;
}
.header .container .header-right-group .header__currency .currency__popup {
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  position: absolute;
  top: 33px;
  left: -22px;
}
.header .container .header-right-group .header__currency .currency__popup ul {
  width: 114px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.header .container .header-right-group .header__currency .currency__popup ul li.currency__inactive {
  height: 62px;
  cursor: pointer;
}
.header .container .header-right-group .header__currency .currency__popup ul li.currency__inactive:hover span {
  background: #eeeeee;
  transition: 0.2s;
}
.header .container .header-right-group .header__currency .currency__popup ul li.currency__inactive:hover {
  background: #eeeeee;
  transition: 0.2s;
}
.header .container .header-right-group .header__currency .currency__popup ul li.currency__inactive .currency__inactive__text {
  position: absolute;
  margin: 24px 0 13px 22px;
}
.header .container .header-right-group .header__currency .currency__popup ul li.currency__active {
  height: 45px;
  background: #eeeeee;
}
.header .container .header-right-group .header__currency .currency__popup ul li.currency__active .currency__active__text {
  background: #eeeeee;
  position: absolute;
  margin: 12px 0 8px 22px;
}
.header .container .header-right-group .header__cart {
  cursor: pointer;
}
.header .container .header-right-group .header__cart .number__cart {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  background: #1d1f22;
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 60px;
  margin-top: -8px;
  margin-left: -7px;
}/*# sourceMappingURL=style.css.map */